*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}
body{
  margin: 30px;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}
header{
  position: relative;
  background-color: beige;
}
.logo{
  width: 50px;
  height: 50px;
}
.logoContainer{
  display: inline-block;
}
.myInfo li{
  display: inline-block;
  margin-left: 1rem;
}
nav{
  display: inline-block;
  float: right;
}
