*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  margin: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}
header{
  position: relative;
  background-color: #121212;
  height: 8rem;
  color: rgb(255, 255, 255);
}
.flexContainer{
  display: flex;
  height: inherit;
  width: 100%;
}
.flexItem{
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexItem:hover{
  background-color: #2d2a38;
}
.flexItem span{
  display: block;
  color: #BBBBBB;
  letter-spacing: 3px;
}
.flexItem svg{
  width: 4rem;
  margin-bottom: 4px;
}
.flexItem a{
}
.logo{
  order: 1;
  flex-grow: 2;
}
.logo img{
  width: 20px;
}
.navBar{
  display: flex;
  height: inherit;
  text-align: center;
}
.aboutLink{
  order: 2;
  flex-grow: 1;
  color: #F27405;
}
.portfolioLink{
  order: 3;
  flex-grow: 1;
  color: #D81A5F;
}
.resumeLink{
  order: 4;
  flex-grow: 1;
  color: #F23838;
}
.emailLink{
  order: 5;
  flex-grow: 1;
  color: #8A26A6;
}
.gitLink{
  order: 6;
  flex-grow: 1;
  color: #4CAF4F;
}

/* About Section */
.aboutPage{
  border: 2px solid red;
  margin:5rem 0;
  height: 75vh;
  text-align: center;
}
.introSection{
  border: 2px solid yellow;
  height: 45%;
}
.salutation{
  display: inline-block;
  width: 35%;
  border: 2px solid blue;
  margin: 2rem;
}
.summary{
  display: inline-block;
  width: 50%;
  border: 2px solid blue;
  margin: 2rem;
}
